/* Coming up Container */
.coming-up {
  background-color: #FFDE59; /* Background color */
  padding: 20px 0; /* Padding at the top and bottom */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
  /* Fixed position at the top of the page */
  width: 100%; /* Full width */
  z-index: 1; 
  height:100vh; /* Ensure it's above other content */
  align-items: center;/* Center align links horizontally */
}

