/* ImageCarousel.css */

/* Default styles for the carousel container */
.carousel-container {
  max-width: 100%;
  margin: 0 auto;
}

/* Default styles for the images and descriptions */
.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.carousel img {
  max-width: 20%;
  height: auto;
    gap:10px;
    padding:3%;
   border-radius: 60px;
    
}


.carousel p {
  font-size: 15px;
    padding-bottom: 20px;

}

/* Responsive styles for small screens (e.g., mobile devices) */
@media screen and (max-width: 768px) {
  .carousel {
    flex-direction: column;
    text-align: center;
  }

  .carousel p {
  font-size: 15px;
  padding-bottom: 20px;
}


  .carousel img {
    max-width: 90%;
     border-radius: 40px;

    
  }
}

/* Import the CSS for react-responsive-carousel */

/* Create a CSS file for custom styles, e.g., CarouselArrows.css */
/* CarouselArrows.css */
/* Style the left and right arrow buttons */
/* You can customize the styles to match your design */

/* Customize the left arrow */
.carousel .control-prev.control-arrow::before {
  content: '<'; /* Use your desired arrow character or custom icon */
  font-size: 28px; /* Adjust the font size */
  color: #000; /* Arrow color */
}

/* Customize the right arrow */
.carousel .control-next.control-arrow::before {
  content: '>'; /* Use your desired arrow character or custom icon */
  font-size: 28px; /* Adjust the font size */
  color: #000; /* Arrow color */
}
