/* Navbar Container */
.navbar {
  background-color: #fff;
  padding: 10px 0;
  width: 100%;
  z-index: 1000;
  height: auto; /* Change to auto for responsiveness */
  display: flex;
  flex-direction: column; /* Change to column for responsiveness on small screens */
  align-items: center;
  text-align: center; /* Center align text */
}

/* Navbar Links */
.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: center; /* Center links horizontally */
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin: 10px; /* Add spacing between links */
}

.navbar a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 20px;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #ff5733;
}

/* Media Queries for Responsiveness */
@media screen and (min-width: 768px) {
  /* Apply these styles when the screen width is at least 768px (e.g., tablets and larger) */
  .navbar {
    flex-direction: row; /* Revert to row layout */
    justify-content: space-between; /* Space out the logo and links */
    align-items: center;
    width: 30%;
  }

  .navbar ul {
    flex-direction: row; /* Display links in a row */
    padding: 20%;
  }

  .navbar li {
    margin: 0 20px; /* Adjust spacing between links */
    font-size: 12px;

  }
}
